<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>alef-hb</key>
	<string>alef-hb.glif</string>
	<key>alefWide-hb</key>
	<string>alefW_ide-hb.glif</string>
	<key>alefdagesh-hb</key>
	<string>alefdagesh-hb.glif</string>
	<key>alefpatah-hb</key>
	<string>alefpatah-hb.glif</string>
	<key>alefqamats-hb</key>
	<string>alefqamats-hb.glif</string>
	<key>alternativeplus-hb</key>
	<string>alternativeplus-hb.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atnahhafukh-hb</key>
	<string>atnahhafukh-hb.glif</string>
	<key>ayin-hb</key>
	<string>ayin-hb.glif</string>
	<key>ayinaltone-hb</key>
	<string>ayinaltone-hb.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bet-hb</key>
	<string>bet-hb.glif</string>
	<key>betdagesh-hb</key>
	<string>betdagesh-hb.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagesh-hb</key>
	<string>dagesh-hb.glif</string>
	<key>dalet-hb</key>
	<string>dalet-hb.glif</string>
	<key>daletWide-hb</key>
	<string>daletW_ide-hb.glif</string>
	<key>daletdagesh-hb</key>
	<string>daletdagesh-hb.glif</string>
	<key>darga-hb</key>
	<string>darga-hb.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dehi-hb</key>
	<string>dehi-hb.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.sinf</key>
	<string>eight.sinf.glif</string>
	<key>eight.sups</key>
	<string>eight.sups.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>etnahtaleft-hb</key>
	<string>etnahtaleft-hb.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.sinf</key>
	<string>five.sinf.glif</string>
	<key>five.sups</key>
	<string>five.sups.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.sinf</key>
	<string>four.sinf.glif</string>
	<key>four.sups</key>
	<string>four.sups.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gereshaccent-hb</key>
	<string>gereshaccent-hb.glif</string>
	<key>gereshmuqdam-hb</key>
	<string>gereshmuqdam-hb.glif</string>
	<key>gershayimaccent-hb</key>
	<string>gershayimaccent-hb.glif</string>
	<key>gimel-hb</key>
	<string>gimel-hb.glif</string>
	<key>gimeldagesh-hb</key>
	<string>gimeldagesh-hb.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hatafpatah-hb</key>
	<string>hatafpatah-hb.glif</string>
	<key>hatafqamats-hb</key>
	<string>hatafqamats-hb.glif</string>
	<key>hatafsegol-hb</key>
	<string>hatafsegol-hb.glif</string>
	<key>he-hb</key>
	<string>he-hb.glif</string>
	<key>heWide-hb</key>
	<string>heW_ide-hb.glif</string>
	<key>hedagesh-hb</key>
	<string>hedagesh-hb.glif</string>
	<key>het-hb</key>
	<string>het-hb.glif</string>
	<key>hiriq-hb</key>
	<string>hiriq-hb.glif</string>
	<key>holam-hb</key>
	<string>holam-hb.glif</string>
	<key>holamhaser-hb</key>
	<string>holamhaser-hb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iluy-hb</key>
	<string>iluy-hb.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>judeospanishvarika-hb</key>
	<string>judeospanishvarika-hb.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kaf-hb</key>
	<string>kaf-hb.glif</string>
	<key>kafFinal-hb</key>
	<string>kafF_inal-hb.glif</string>
	<key>kafWide-hb</key>
	<string>kafW_ide-hb.glif</string>
	<key>kafdagesh-hb</key>
	<string>kafdagesh-hb.glif</string>
	<key>kafdageshFinal-hb</key>
	<string>kafdageshF_inal-hb.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lamed-hb</key>
	<string>lamed-hb.glif</string>
	<key>lamedWide-hb</key>
	<string>lamedW_ide-hb.glif</string>
	<key>lameddagesh-hb</key>
	<string>lameddagesh-hb.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>mahapakhleft-hb</key>
	<string>mahapakhleft-hb.glif</string>
	<key>maqaf-hb</key>
	<string>maqaf-hb.glif</string>
	<key>masoracircle-hb</key>
	<string>masoracircle-hb.glif</string>
	<key>mem-hb</key>
	<string>mem-hb.glif</string>
	<key>memFinal-hb</key>
	<string>memF_inal-hb.glif</string>
	<key>memFinalWide-hb</key>
	<string>memF_inalW_ide-hb.glif</string>
	<key>memdagesh-hb</key>
	<string>memdagesh-hb.glif</string>
	<key>merkhakefulaleft-hb</key>
	<string>merkhakefulaleft-hb.glif</string>
	<key>merkhaleft-hb</key>
	<string>merkhaleft-hb.glif</string>
	<key>munahleft-hb</key>
	<string>munahleft-hb.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.sinf</key>
	<string>nine.sinf.glif</string>
	<key>nine.sups</key>
	<string>nine.sups.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>nun-hb</key>
	<string>nun-hb.glif</string>
	<key>nunFinal-hb</key>
	<string>nunF_inal-hb.glif</string>
	<key>nundagesh-hb</key>
	<string>nundagesh-hb.glif</string>
	<key>nunhafukha-hb</key>
	<string>nunhafukha-hb.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>ole-hb</key>
	<string>ole-hb.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.sinf</key>
	<string>one.sinf.glif</string>
	<key>one.sups</key>
	<string>one.sups.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>paseq-hb</key>
	<string>paseq-hb.glif</string>
	<key>pashta-hb</key>
	<string>pashta-hb.glif</string>
	<key>patah-hb</key>
	<string>patah-hb.glif</string>
	<key>pazer-hb</key>
	<string>pazer-hb.glif</string>
	<key>pe-hb</key>
	<string>pe-hb.glif</string>
	<key>peFinal-hb</key>
	<string>peF_inal-hb.glif</string>
	<key>pedagesh-hb</key>
	<string>pedagesh-hb.glif</string>
	<key>pedageshFinal-hb</key>
	<string>pedageshF_inal-hb.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>qadma-hb</key>
	<string>qadma-hb.glif</string>
	<key>qamats-hb</key>
	<string>qamats-hb.glif</string>
	<key>qamatsqatan-hb</key>
	<string>qamatsqatan-hb.glif</string>
	<key>qarneypara-hb</key>
	<string>qarneypara-hb.glif</string>
	<key>qof-hb</key>
	<string>qof-hb.glif</string>
	<key>qofdagesh-hb</key>
	<string>qofdagesh-hb.glif</string>
	<key>qubuts-hb</key>
	<string>qubuts-hb.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>resh-hb</key>
	<string>resh-hb.glif</string>
	<key>reshWide-hb</key>
	<string>reshW_ide-hb.glif</string>
	<key>reshdagesh-hb</key>
	<string>reshdagesh-hb.glif</string>
	<key>reviamugrash-hb</key>
	<string>reviamugrash-hb.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>samekh-hb</key>
	<string>samekh-hb.glif</string>
	<key>samekhdagesh-hb</key>
	<string>samekhdagesh-hb.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>segol-hb</key>
	<string>segol-hb.glif</string>
	<key>segolta-hb</key>
	<string>segolta-hb.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.sinf</key>
	<string>seven.sinf.glif</string>
	<key>seven.sups</key>
	<string>seven.sups.glif</string>
	<key>shalshelet-hb</key>
	<string>shalshelet-hb.glif</string>
	<key>sheva-hb</key>
	<string>sheva-hb.glif</string>
	<key>shin-hb</key>
	<string>shin-hb.glif</string>
	<key>shindagesh-hb</key>
	<string>shindagesh-hb.glif</string>
	<key>shindageshshindot-hb</key>
	<string>shindageshshindot-hb.glif</string>
	<key>shindageshsindot-hb</key>
	<string>shindageshsindot-hb.glif</string>
	<key>shindot-hb</key>
	<string>shindot-hb.glif</string>
	<key>shinshindot-hb</key>
	<string>shinshindot-hb.glif</string>
	<key>shinsindot-hb</key>
	<string>shinsindot-hb.glif</string>
	<key>siluqleft-hb</key>
	<string>siluqleft-hb.glif</string>
	<key>sindot-hb</key>
	<string>sindot-hb.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.sinf</key>
	<string>six.sinf.glif</string>
	<key>six.sups</key>
	<string>six.sups.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>sofpasuq-hb</key>
	<string>sofpasuq-hb.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tav-hb</key>
	<string>tav-hb.glif</string>
	<key>tavWide-hb</key>
	<string>tavW_ide-hb.glif</string>
	<key>tavdagesh-hb</key>
	<string>tavdagesh-hb.glif</string>
	<key>telishagedola-hb</key>
	<string>telishagedola-hb.glif</string>
	<key>telishaqetana-hb</key>
	<string>telishaqetana-hb.glif</string>
	<key>tet-hb</key>
	<string>tet-hb.glif</string>
	<key>tetdagesh-hb</key>
	<string>tetdagesh-hb.glif</string>
	<key>tevirleft-hb</key>
	<string>tevirleft-hb.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.sinf</key>
	<string>three.sinf.glif</string>
	<key>three.sups</key>
	<string>three.sups.glif</string>
	<key>tipehaleft-hb</key>
	<string>tipehaleft-hb.glif</string>
	<key>tsadi-hb</key>
	<string>tsadi-hb.glif</string>
	<key>tsadiFinal-hb</key>
	<string>tsadiF_inal-hb.glif</string>
	<key>tsadidagesh-hb</key>
	<string>tsadidagesh-hb.glif</string>
	<key>tsere-hb</key>
	<string>tsere-hb.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.sinf</key>
	<string>two.sinf.glif</string>
	<key>two.sups</key>
	<string>two.sups.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vav-hb</key>
	<string>vav-hb.glif</string>
	<key>vavdagesh-hb</key>
	<string>vavdagesh-hb.glif</string>
	<key>vavholam-hb</key>
	<string>vavholam-hb.glif</string>
	<key>vavvav-hb</key>
	<string>vavvav-hb.glif</string>
	<key>vavyod-hb</key>
	<string>vavyod-hb.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>yerahbenyomoleft-hb</key>
	<string>yerahbenyomoleft-hb.glif</string>
	<key>yetiv-hb</key>
	<string>yetiv-hb.glif</string>
	<key>yod-hb</key>
	<string>yod-hb.glif</string>
	<key>yoddagesh-hb</key>
	<string>yoddagesh-hb.glif</string>
	<key>yodhiriq-hb</key>
	<string>yodhiriq-hb.glif</string>
	<key>yodyod-hb</key>
	<string>yodyod-hb.glif</string>
	<key>yodyodpatah-hb</key>
	<string>yodyodpatah-hb.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zaqefgadol-hb</key>
	<string>zaqefgadol-hb.glif</string>
	<key>zaqefqatan-hb</key>
	<string>zaqefqatan-hb.glif</string>
	<key>zarqa-hb</key>
	<string>zarqa-hb.glif</string>
	<key>zayin-hb</key>
	<string>zayin-hb.glif</string>
	<key>zayindagesh-hb</key>
	<string>zayindagesh-hb.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.sinf</key>
	<string>zero.sinf.glif</string>
	<key>zero.sups</key>
	<string>zero.sups.glif</string>
	<key>zinor-hb</key>
	<string>zinor-hb.glif</string>
</dict>
</plist>
